<html>
    <body>
        <center><h1>Add Student Data</h1></center>
        <center><a href="/students">Show All Data</a></center><br><br>
        <center><form action="/students/add" method="POST"><br><br>
            first_name  : <input type ='text' name="first_name"><br><br>
            last_name   : <input type ='text' name="last_name"><br><br>
            email       : <input type ='text' name="email"><br><br>
            <input type ='submit'>
        </form></center>
    </body>
</html>